# Java Development Kit
jdk/

# Build Artifacts
lib/ffr/MultiplayerExtension.jar
*.class

# Configuration
zones/
!zones/BasicExamples.zone.xml

# SmartFox Server
sfs/
config/_backups

# Bootstrap Stage
sfs-temp/
sfs-patch/
openjdk.tar.gz
sfs-1.6.6.tar.gz
sfs-patch-1.6.20.zip
